<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Crear Paciente</h1>

    <form th:action="@{/new}" th:object="${paciente}" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese nombre">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" th:field="*{apellido}" placeholder="Ingrese apellido">
        </div>
        <div class="mb-3">
            <label for="anomalia" class="form-label">Anomalía</label>
            <input type="text" class="form-control" id="anomalia" th:field="*{anomalia}" placeholder="Ingrese anomalía">
        </div>
        <div class="mb-3">
            <label for="sintomas" class="form-label">Síntomas</label>
            <input type="text" class="form-control" id="sintomas" th:field="*{sintomas}" placeholder="Ingrese síntomas">
        </div>
        <button type="submit" class="btn btn-primary">Crear Paciente</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
